node_modules/
dist/
*.tsbuildinfo
*.db
*.db-journal
*.db-wal
.env
.env.*
data/
coverage/
.DS_Store
out/
apps/*/out/
.expo/
android/
ios/
dist/
apps/*/dist/
apps/mobile/android/
apps/mobile/ios/
local.properties
